/* body */

    /* color pallet

    https://coolors.co/d741a7-faff81-6d1752-82c0cc-dec5e3
    #D741A7 , #FAFF81 , #6D1752 , #82C0CC , #DEC5E3

    fonts 
    main text
.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}

    Title Font
.gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
  */

body {
  background-color: #d741a7;
}

body h2, h1 {
  font-family: "Gochi Hand", cursive;
}

body p {
  font-family: "Fuzzy Bubbles", sans-serif;
}

/* header */

header {

}

header h2 {
  
}

header p {

}

/* main */

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid black;
  padding: 10px;
}

nav h1 {
  grid-column: 1 / 3;
  align-content: center;
  
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 4/6;
  justify-content: space-evenly;
  list-style: none;
}

header  {
  display: grid;
 justify-content: center;
}

header h1 {
  display: grid;
  align-content: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}

main .left {
  display: grid;
  grid-column: 1/4;
}

main .right {
  display: grid;
  grid-column: 4/6;
}
/* footer */